body {
  background-color: #4f6d93;
  background-image: linear-gradient(to bottom, #ffffff, #90c7e3);
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
  margin-left: auto;
  margin-right: auto;
  min-width: 960px;
  max-width: 2048px;
  width: 80%;
  background-color: #90c7e3;
  box-shadow: 3px #333333;
}
header {
  background-image: url("sunset.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-color: #002171;
  text-align: center;
  height: 60px;
  padding-top: 15px;
}
h1 {
  background-color: #000033;
  color: #ffffff;
  margin-bottom: 0;
  margin-bottom: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
main {
  padding: 1px 20px 20px 20px;
  background-color: #ffffff;
  padding-left: 30px;
}
h2 {
  color: #3399cc;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 1px #cccccc;
}
nav {
  font-weight: bold;
  padding: 20px;
  float: left;
  width: 160px;
}
nav a {
  text-decoration: none;
}
nav ul a:active {
  color: red;
}
nav a:link {
  color: #000033;
}
nav a:visited {
  color: #344873;
}
nav a:hover {
  color: #ffffff;
}
nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  font-size: 1.2em;
}
dt {
  color: #000033;
  margin-bottom: 2px;
  font-weight: bold;
}
dd {
  margin-bottom: 4px;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  border: solid 1px #3399cc;
  border-spacing: 0;
}
td,
th {
  border: solid 1px #3399cc;
  padding: 5px;
  text-align: left;
}
td {
  text-align: center;
}
.text {
  text-align: center;
}
tr:nth-child(odd) {
  background-color: #f5fafc;
}

.marker {
  list-style-image: url("marker.gif");
}

.resort {
  color: #5c7fa3;
  font-weight: bold;
}
#contact {
  font-size: 90%S;
}
address {
  margin-top: 8px;
}
address p {
  color: #000033;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 2px;
}
footer {
  font-size: 75%;
  font-style: italic;
  text-align: center;
  background-color: #ffffff;
}
footer p {
  margin-bottom: 0;
  padding: 2px;
}
#homehero {
  background-image: url("homehero.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 300px;
  /*margin-left: 190px;*/
}
#yurthero {
  background-size: 100% 100%;
  background-image: url("yurthero.jpg");
  background-repeat: no-repeat;
  height: 300px;
}
#trailhero {
  background-size: 100% 100%;
  background-image: url("trailhero.jpg");
  background-repeat: no-repeat;
  height: 300px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  display: block;
  margin-bottom: 10px;
}
input[type="submit"] {
  margin-top: 10px;
}
textarea {
}
/*#flexcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}*/

/* MEDIA QUERIES */
@media (min-width: 600px) {
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  nav li {
    border-bottom: none;
  }
  /* section {
    margin-left: 2em;
    margin-right: 2em;
    flex: 1;
  }*/
  /* .flow {
    display: flex;
    flex-direction: row;
  }*/
}
@media (min-width: 1024px) {
  #wrapper {
    margin: auto;
    width: 80%;
    border: 1px solid #002171;
    box-shadow: 3px 3px 3px #002171;
  }
  nav {
    text-align: left;
  }
  form {
    width: 70%;
  }
}
@supports (display: grid) {
  nav ul {
    flex-direction: column;
    font-size: 1.5em;
    /*padding-top: 1em;*/
  }
  .hero {
    grid-area: hero;
  }
  header {
    grid-area: header;
  }
  nav {
    grid-area: nav;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
  #wrapper {
    display: grid;
    grid-template:
      "header header"
      "nav hero"
      "nav main"
      "nav footer"
      / 180px 1fr;
  }

  /*FORM*/
  form {
    display: grid;
    flex-direction: column;
    grid-template-columns: 150px 1fr 1fr;
    grid-template-rows: auto;
    /* width: 60%; */
    max-width: 30em;
    gap: 0.6em;
  }

  label {
    display: block;
    margin-top: 0;
  }

  input {
    display: block;
    /* margin-bottom: 10px; */
  }

  #label1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #myfname {
    grid-column: 2/4;
    grid-row: 1/2;
    height: 20px;
  }
  #label2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #mylname {
    grid-column: 2/4;
    grid-row: 2/3;
    height: 20px;
  }

  #label3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #email {
    grid-column: 2/4;
    grid-row: 3/4;
    height: 20px;
  }

  #label4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #myphone {
    grid-column: 2/4;
    grid-row: 4/5;
    height: 20px;
  }
  #label5 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  #arrival {
    grid-column: 2/4;
    grid-row: 5/6;
    height: 20px;
  }

  #label6 {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  #nights {
    grid-column: 2/3;
    grid-row: 6/7;
    height: 20px;
  }

  #label7 {
    grid-column: 1/2;
    grid-row: 7/8;
  }

  #comments {
    grid-column: 2/4;
    grid-row: 7/8;
    height: 60px;
  }

  input[type="submit"] {
    grid-column: 2/3;
    grid-row: 8/9;
    width: 100px;
    margin-top: 5px;
    background-color: #3399cc;
    color: #ffffff;
    height: 30px;
    font-size: 1.2em;
  }
}
