body {
<<<<<<< HEAD
  background-color: #4f6d93;
=======
  background-color: #90c7e3;
>>>>>>> bcf3d58 (pacific4 folder created with files from pacific3 folder transferred.)
  background-image: linear-gradient(to bottom, #ffffff, #90c7e3);
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
  margin-left: auto;
  margin-right: auto;
  min-width: 960px;
  max-width: 2048px;
  width: 80%;
<<<<<<< HEAD
  background-color: #90c7e3;
=======
  background-color: #ffffff;
>>>>>>> bcf3d58 (pacific4 folder created with files from pacific3 folder transferred.)
  box-shadow: 3px #333333;
}
header {
  background-image: url("sunset.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-color: #002171;
  text-align: center;
  height: 60px;
  padding-top: 15px;
}
h1 {
  background-color: #000033;
  color: #ffffff;
  margin-bottom: 0;
  margin-bottom: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
main {
  padding: 1px 20px 20px 20px;
<<<<<<< HEAD
  background-color: #ffffff;
  margin-left: 190px;
  padding-left: 30px;
=======
>>>>>>> bcf3d58 (pacific4 folder created with files from pacific3 folder transferred.)
}
h2 {
  color: #3399cc;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 1px #cccccc;
}
nav {
<<<<<<< HEAD
  font-weight: bold;
  padding: 20px;
  float: left;
  width: 160px;
=======
  background-color: #ffffff;
  font-weight: bold;
  padding: 10px;
  text-align: center;
>>>>>>> bcf3d58 (pacific4 folder created with files from pacific3 folder transferred.)
}
nav a {
  text-decoration: none;
}
<<<<<<< HEAD
nav ul a:active {
  color: red;
}
nav a:link {
  color: #000033;
}
nav a:visited {
  color: #344873;
}
nav a:hover {
  color: #ffffff;
}
nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  font-size: 1.2em;
}
=======
>>>>>>> bcf3d58 (pacific4 folder created with files from pacific3 folder transferred.)
dt {
  color: #000033;
  margin-bottom: 2px;
  font-weight: bold;
}
dd {
  margin-bottom: 4px;
}
.marker {
  list-style-image: url("marker.gif");
}

.resort {
  color: #5c7fa3;
  font-weight: bold;
}
#contact {
  font-size: 90%S;
}

address p {
  color: #000033;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 2px;
}
footer {
  font-size: 75%;
  font-style: italic;
  text-align: center;
<<<<<<< HEAD
  margin-left: 190px;
  background-color: #ffffff;
=======
>>>>>>> bcf3d58 (pacific4 folder created with files from pacific3 folder transferred.)
}
footer p {
  margin-bottom: 0;
  padding: 2px;
}
#homehero {
  background-image: url("homehero.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 300px;
<<<<<<< HEAD
  margin-left: 190px;
=======
>>>>>>> bcf3d58 (pacific4 folder created with files from pacific3 folder transferred.)
}
#yurthero {
  background-size: 100% 100%;
  background-image: url("yurthero.jpg");
  background-repeat: no-repeat;
  height: 300px;
<<<<<<< HEAD
  margin-left: 190px;
=======
  width: 100%;
>>>>>>> bcf3d58 (pacific4 folder created with files from pacific3 folder transferred.)
}
#trailhero {
  background-size: 100% 100%;
  background-image: url("trailhero.jpg");
  background-repeat: no-repeat;
  height: 300px;
<<<<<<< HEAD
  margin-left: 190px;
=======
  width: 100%;
>>>>>>> bcf3d58 (pacific4 folder created with files from pacific3 folder transferred.)
}
